<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nortonwei.skycar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBd7IeVZ0yXI8EhlfRLBRNJOjgLraVDoKs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label=""
            android:parentActivityName=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteActionBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SignUpActivity"
            android:label=""
            android:parentActivityName=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteActionBar" />
        <activity
            android:name=".AuthCodeActivity"
            android:label=""
            android:parentActivityName=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteActionBar" />
        <activity
            android:name=".ProfileSetActivity"
            android:label=""
            android:parentActivityName=".AuthCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteActionBar" />
        <activity
            android:name=".PasswordSetActivity"
            android:label=""
            android:parentActivityName=".ProfileSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".AirportPickupActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".ConfirmTripActivity"
            android:label=""
            android:parentActivityName=".AirportPickupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".FrequentPassengerActivity"
            android:label=""
            android:parentActivityName=".ConfirmTripActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".AddFrequentPassengerActivity"
            android:label=""
            android:parentActivityName=".FrequentPassengerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".OfflinePaymentSuccessActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".OnlinePaymentSuccessActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".ReserveCarActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CompanionBusActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".FrequentAddressActivity"
            android:label=""
            android:parentActivityName=".CompanionBusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".AddFrequentAddressActivity"
            android:label=""
            android:parentActivityName=".FrequentAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CompanionBusResultActivity"
            android:label=""
            android:parentActivityName=".CompanionBusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CompanionBusOrderDetailActivity"
            android:label=""
            android:parentActivityName=".CompanionBusResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".JoinCompanionBusActivity"
            android:label=""
            android:parentActivityName=".CompanionBusOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".ConfirmCompanionBusActivity"
            android:label=""
            android:parentActivityName=".JoinCompanionBusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CharteredTravelActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".WishListActivity"
            android:label=""
            android:parentActivityName=".CharteredTravelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CharteredTravelListActivity"
            android:label=""
            android:parentActivityName=".CharteredTravelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".CharteredTravelDetailActivity"
            android:label=""
            android:parentActivityName=".CharteredTravelListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CharteredTravelOrderActivity"
            android:label=""
            android:parentActivityName=".CharteredTravelDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".InquireFlightActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".LicenseTranslationActivity"
            android:label=""
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar" />
        <activity
            android:name=".WechatLoginTransitionActivity"
            android:label=""
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowserActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RedActionBar"/>
    </application>

</manifest>